@*@model CNPMNC_Project.Models.PHONGBAN*@
@model IEnumerable<CNPMNC_Project.Models.ChiTietPhongBan>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="font-weight: 700; margin-bottom: 16px; text-align:center">Nhân viên phòng ban</h4>

<p>
    @Html.ActionLink("Quay lại", "Index")
</p>



<table class="table table-bordered table-striped" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MANV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOTENNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIOITINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUEQUAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DANTOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOBH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenCV)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.MANV
            </td>
            <td>
                @item.HOTENNV
            </td>
            <td>
                @item.DIACHI
            </td>
            <td>
                @item.GIOITINH
            </td>
            <td>
                @item.NGAYSINH
            </td>
            <td>
                @item.CMND
            </td>
            <td>
                @item.QUEQUAN
            </td>
            <td>
                @item.SDT
            </td>
            <td>
                @item.DANTOC
            </td>
            <td>
                @item.SOBH
            </td>
            <td>
                @item.TenCV
            </td>
        </tr>
    }



</table>
